<%= form_for(@comment) do |f| %>
  <div class="new-comment">
	  <%= render 'shared/error_messages', object: f.object %>
	  <div class="field">
	  	<%= f.text_area :body %>
	  </div>
	  <div class="actions">
	  	<%= f.submit %>
	  </div>
  </div>
<% end %>
